.container {
  max-width: $max-width;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;

  @include breakpoint(tab-port) {
    flex: 1;
  }
}