.project {

  &__image-container {
    max-width: 900px;
    max-height: 600px;
    margin: 0 auto;
  }

  &__image {
    max-width: 100%;
  }

  &__text-content {
    padding: 1.2rem;
  }

  &__info {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__description {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  &__buttons {
    text-align: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: baseline;

    @include breakpoint(phone) {
      flex-direction: row;
    }
  }

  &__button {
    &:not(:first-child) {
      margin-top: 1rem;
    }

    @include breakpoint(phone) {
      &:not(:first-child) {
        margin-top: 0;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__list {
    font-size: 1.8rem;
    text-align: center;
  }

  &__list-item {
    
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
