// COLORS
$color-primary: #F44336;
$color-primary-dark: #D32F2F;
$color-accent: #FF9800;
$text-primary-light-color: #fff;
$text-secondary-light-color: #FFCCBC;
$text-primary-dark-color: rgb(60, 72, 88);
$text-secondary-dark-color: #757575;

$light-bg: #fff;


// FONTS
$default-font-size: 1.6rem;


// GRID
$max-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
